{% extends 'email/layout.html.twig' %}

{% block content %}
    <h1>Inscription à {{ registerApp }} réussi !</h1>

    <p>Bonjour {{ user.firstname | capitalize }}</p>
    <p>
        Votre inscription à {{ registerApp }} est maintenant terminée.
        Vous pouvez maintenant vous connecter avec les identifiants saisies lors de votre phase d'inscription.
    </p>

    <hr>

    <div class="preview">
        <h2>Découvrez la liste complète de nos services</h2>

        {% for app in apps %}
            <div class="preview__app">
                <p class="title">{{ app.name }}</p>
                <p>{{ app.description }}</p>
                <a href="{{ app.url }}" class="btn secondary">Visiter {{ app.name }}</a>
            </div>
        {% endfor %}
    </div>
{% endblock %}
