<!doctype html>
<html lang="fr">
<head>
    <meta charset="UTF-8" />

    <meta name="viewport"
          content="width=device-width,
          user-scalable=no,
          initial-scale=1.0,
          maximum-scale=1.0,
          minimum-scale=1.0">

    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!-- WEBSITE: Title -->
    <title>{% block title %}{{ appTitle }}{% endblock %}</title>

    <!-- WEBSITE: Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="images/logo.ico" />

    {% block css %}
    <!-- WEBSITE: STYLES -->
    <link rel="stylesheet" href="css/reset.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="libs/datatable/datatables.min.css" />
    <link rel="stylesheet" href="css/app.css" />

    <!-- LOAD: FEATURES CSS -->
    {{ css|raw }}
    {% endblock %}

    <!-- GOOGLE reCaptcha -->
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>

    <!-- LOAD: jQuery  -->
    <script src="libs/jquery.min.js"></script>

    <!-- LOAD: Axios -->
    <script src="libs/axios.min.js"></script>
</head>
<body>
    <div class="container">
        <header class="header boxed">
            <div class="flex topheader">
                <h1><a class="header__title" href="{{ path('home') }}" title="Aller sur l'accueil">AfpaConnect</a></h1>
                <!-- Hamburger Icon for responsive Menu -->
                <a href="javascript:void(0);" class="icon" onclick="mobileMenuHeader()">
                    <i id="menuIcon" class="fa fa-bars"></i>
                </a>
            </div>
              {% if session('user') %}
                <nav id="navbar" class="flex navbar">
                    <ul>
                        <li><a href="{{ path('user.manage') }}">Gestion utilisateurs</a></li>
                        <li><a href="{{ path('user.upload') }}">Nouveaux utilisateurs</a></li>
                        <li><a href="{{ path('home') }}">Configuration</a></li>
                    </ul>
                </nav>

                <a class="btn" href="{{ path('logout') }}"><i class="fas fa-sign-out-alt"></i> Déconnexion</a>
            {% endif %}
        </header>

        {% block content %}

        {% endblock %}

        <footer class=" footer boxed">
            <p>&copy; {{ copyright }}</p>
        </footer>
    </div>

    {% block javascript %}
    <!-- Global JS file -->
    <script src="libs/datatable/datatables.min.js"></script>
    <script src="libs/fontawesome/js/all.js"></script>
    <script src="js/app.js"></script>

    <!-- JS FOR FEATURE -->
    {{ js|raw }}
    {% endblock %}
</body>
</html>